* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background-color: #f0f0f0;
    margin: 0 100px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}
.navheader a {
    text-decoration: none;
    color: #0077b9;
    margin-left: 20px;
    font-size: .9rem;
}
.home {
    padding: 250px;
    justify-content: center;
    align-items: center;
    display: flex;
}
h1 {
    font-weight: 150;
    font-size: 3rem;
}        
